.headBg {
  width: 100%;
  height: 100vh;
  background: url("/images/homeBg.jpg");
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homeInfo {
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
}

.headBg .homeInfo .loop {
  position: absolute;
  width: 500px;
  height: 500px;
  display: inline-block;
}

.headBg .homeInfo .loop:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  background: red;
  opacity: 0.3;
  transform: rotate(30deg);
  animation: loop1 10s linear infinite;
}

.headBg .homeInfo .loop:nth-child(2) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  background: blue;
  opacity: 0.45;
  transform: rotate(60deg);
  animation: loop2 15s linear infinite;
}

.headBg .homeInfo .loop:nth-child(3) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  opacity: 0.3;
  background: green;
  transform: rotate(90deg);
  animation: loop3 10s linear infinite;
}

.headBg .homeInfo .loop:nth-child(4) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  opacity: 0.45;
  background: black;
  transform: rotate(120deg);
  animation: loop4 15s linear infinite;
}

@keyframes loop1 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}

@keyframes loop2 {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(420deg);
  }
}

@keyframes loop3 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(450deg);
  }
}

@keyframes loop4 {
  0% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(480deg);
  }
}

.headBg .homeInfo .info {
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.headBg .homeInfo .info .wrap {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headBg .homeInfo .info .wrap h2 {
  font-size: 20px;
  margin: 10px 0;
}

.headBg .homeInfo .info .wrap h5 {
  font-size: 16px;
  margin: 20px 0;
}